<html>
<head>
<title>Calendar</title>
<link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<style type="text/css">
h1 {
  font-family: 'Michroma', Aria, serif; font-weight: 400;
  font-size: 48px;
  text-align: center;
}
.cell {
  min-width: 100px;
  min-height: 150px;
}
.date {
  background: #5882fa;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.text {
  border: 1px solid #ccc;
}
.mine {
  border: 1px solid #f00;
}
.highlight {
  background: #ff9;
  cursor: pointer;
}
#workout {
  border: 1px solid #ccc;
}
.default {
  background: #e6e6e6;
}
#workout_close {
  text-align: center;
}
#workout td, #workout th {
  padding: 6px 11px;
  border-bottom: 1px solid #95bce2;
  vertical-align: top;
}
#workout .desc {
  background: #95bce2;
}
#workout th, .userInfo {
  text-align: center;
}
</style>
<script type="text/javascript">
$(function() {
    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });


$(".text")
.bind("mouseover mouseout", function(event) {
  $(this).toggleClass("highlight");
})
.click(function() {
  $(this).toggleClass("highlight", false);
  var re = /workout_(\d+)/;
  var id = re.exec(this.id)[1];
  var rowid = $(this).closest("tr").attr("id");
  var w = this;
  $("#calendar tr").hide("blind");
  $("#" + rowid).show("blind", function() {  
    $("#workout_desc").load("/workout/" + id + "/", function() {
      $("#workout").show("blind");
      $(".workout_action").click(function(event) {
        event.preventDefault();
        var action = event.target.id;
        $.post("/workout/" + id + "/action/", {"action": action}, function(data) {
          $("#confirmed").text(data.confirmed);
          $("#interested").text(data.interested);
          $("#join, #maybe, #drop").attr("disabled", "disabled");
          if (data.showJoin) {
            $("#join").removeAttr("disabled");
          }
          if (data.showMaybe) {
            $("#maybe").removeAttr("disabled");
          }
          if (data.showDrop) {
            $("#drop").removeAttr("disabled");
          }
          if (action === "join" || action === "maybe") {
            $(w).addClass("mine");
          } else {
            $(w).removeClass("mine");
          }
          $(w).html(data.cellText);
          }, "json");
      });
    });
  });
});
$("#workout_close").click(function() {
  $(this).toggleClass("highlight", false);
  $(this).toggleClass("default", true);
  $("#workout").hide("blind", function() {
    $("tr").show("blind");
  });
  return false;
})
.bind("mouseover mouseout", function(event) {
  $(this).toggleClass("highlight default");
});
$("#workout").hide();
});
</script>
</head>
<body>
<h1>B.E.A.S.T.</h1>
<div class="userInfo">
{% if user.is_authenticated %}
  <p>Logged in as {{user.email}} | <a href="/workout/create">Create Workout</a> | <a href="/account/logout">Log Out</a></p>
{% else %}
  <p><a href="/account/login">Log In</a> | <a href="/account/register">Join</a></p>
{% endif %}
</div>
<table id="calendar" width=100% cellspacing=0 cellpadding=0>
{% for week in weeks %}
  <tr id="week_{{forloop.counter}}">
  {% for day in week %}
    <td>{% include "workouts/calendar_cell.html" %}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<div id="workout">
<div id="workout_close" class="default">Close</div>
<div id="workout_desc"></div>
</div>
</body>
</html>
