<html>
<head>
<title>Calendar</title>
<link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
<link href='{{ STATIC_URL }}css/calendar.css' rel='stylesheet' type='text/css'>
<link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/calendar.js"></script>
<script type="text/javascript">
$(function() {
  buildCalendar();
});
</script>
</head>
<body>
<div id="header-wrap">
 <div id="header-container">
  <div id="header">
   <h1><span id="beastTitle">B.E.A.S.T.</span></h1>
   <div class="userInfo">
{% if user.is_authenticated %}
    <p><a href="/account">My Account</a> | <a href="/workout/create">Create Workout</a> | <a href="/faq">FAQ</a> | <a href="/account/logout">Log Out</a><br>Logged in as {{user.email}}</p>
{% else %}
    <p><a href="/account/login">Log In</a> | <a href="/account/register">Join</a> | <a href="/faq">FAQ</a></p>
{% endif %}
   </div>

{% for day in days %}
   <div class="dayOfWeek">{{day}}</div>
{% endfor %}
  </div>
 </div>
</div>

<div id="container">
{% for week in weeks %}
<div class="row" id="week_{{forloop.counter}}">
  {% for day in week %}
    {% include "workouts/calendar_cell.html" %}
  {% endfor %}
  <div class="clear"></div>
</div>
{% endfor %}

<div id="workout">
<div id="workout_close" class="default"><div id="workout_center"><span class="ui-icon ui-icon-carat-1-n"></span><span>Close</span><span class="ui-icon ui-icon-carat-1-n"></span><div class="clear"></div></div></div>
<div id="workout_desc"></div>
</div>

</div>

</body>
</html>
