<!DOCTYPE html>
<html>
<head>
<style type="text/css">
div.qna {padding: 15px;}
</style>
<title>BEAST FAQ</title>
</head>
<body>
<h1>BEAST FAQ</h1>
<div id="commands">
<h2>BEAST Commands</h2>
<div class="qna">
<b>Q: What are BEAST Commands?</b><br>
<b>A:</b> BEAST commands are a way to interact with workouts in the BEAST system via email.  Currently, BEAST commands only support a subset of the operations available via the website.
</div>

<div class="qna">
<b>Q: How do I use BEAST commands?</b><br>
<b>A:</b> Each workout in BEAST has a dedicated email address and BEAST commands for a workout must be sent to that workout's address.  Each BEAST command must be on it's own line and follow a specific format.  The format of a BEAST command is: "[BEAST] command"
</div>

<div class="qna">
<b>Q: What BEAST commands are available?</b><br>
<b>A:</b> For now, BEAST commands can only be used to sign up for, or drop out of, a workout.  The commands are:<br>
<ul>
<li>Join - To sign up for a workout.</li>
<li>Maybe - To express tentative interest in a workout.</li>
<li>Drop - To drop out of a workout.</li>
</ul>
</div>

<div class="qna">
<b>Q: Can you give me an example?</b><br>
<b>A:</b> To sign up for a workout, send an email simliar to this:<br>
<pre>
To: beast+XX@beast.shmk.org
From: joe.user@example.com
Subject: I want to run
====================
[BEAST] Join
</pre>
</div>

<div class="qna">
<b>Q: Are there any restrictions?</b><br>
<b>A:</b> The email must be sent from the address with which you sign in to BEAST.  Each command must be on a separate line, the line must begin with [BEAST] and there must be a space between [BEAST] and the command. 
</div>

</div>
