<div id="workoutDetails">
<table>
<tr><th class="desc" colspan=2>{{workout.title}}</th></tr>
<tr><td class="desc">Date</td><td>{{workout.startDate}}</td></tr>
<tr><td class="desc">"Go" time</td><td>{{workout.startTime}}</td></tr>
<tr><td class="desc">Location</td><td>
{% if locText %}
  <a href="#" onClick='alert("{{locText}}"); return false;'>
{% endif %}
{{workout.location}}
{% if locText %}
  </a>
{% endif %}
</td></tr>
{% if workout.warmupTime %}
  <tr><td class="desc">Warmup</td><td>{{workout.warmupTime}}</td></tr>
{% endif %}
<tr><td class="desc">Description</td><td>{{workout.description|linebreaksbr}}</td></tr>
<tr><td class="desc">Organizer</td><td>{{workout.organizer.get_profile.displayName}} ({{workout.organizer.email}})</td></tr>
<tr><td class="desc">Confirmed</td><td id="confirmed">{% for u in confirmed %} {{u}}, {% endfor %}</td></tr>
<tr><td class="desc">Interested</td><td id="interested">{% for u in interested %} {{u}}, {% endfor %}</td></tr>
</table>

{% if user.is_authenticated %}
  <button id="join" class="workout_action" {% if not showJoin %}disabled{% endif %}>Join</button>
  <button id="maybe" class="workout_action" {% if not showMaybe %}disabled{% endif %}>Maybe</button>
  <button id="drop" class="workout_action" {% if not showDrop %}disabled{% endif %}>Drop Out</button>
{% endif %}

<br>
{% if canUpdate %}
<a href="/workout/{{workout.pk}}/update/">Modify this Workout</a><br>
<a href="#" onClick='delWorkout({{workout.pk}}); return false;'>Delete this Workout</a>
{% endif %}
</div>
<div id="workoutMessages">
{% for msg in messages %}
<div class="msg">
{{msg.get_msgType_display}} from {{msg.sender.get_profile.displayName}}<br>
{{msg.msgDate}}<br>
------<br>
{{msg.text|linebreaksbr}}
</div>
{% endfor %}
</div>
