<table>
<tr><th class="desc" colspan=2>{{workout.title}}</th></tr>
<tr><td class="desc">Date</td><td>{{workout.startDate}}</td></tr>
<tr><td class="desc">"Go" time</td><td>{{workout.startTime}}</td></tr>
<tr><td class="desc">Location</td><td>{{workout.location}}</td></tr>
{% if workout.warmupTime %}
  <tr><td class="desc">Warmup</td><td>{{workout.warmupTime}}</td></tr>
{% endif %}
<tr><td class="desc">Description</td><td>{{workout.description|linebreaksbr}}</td></tr>
<tr><td class="desc">Organizer</td><td>{{workout.organizer.get_profile.displayName}} ({{workout.organizer.email}})</td></tr>
<tr><td class="desc">Confirmed</td><td>{% for u in confirmed %} {{u}}, {% endfor %}</td></tr>
<tr><td class="desc">Interested</td><td>{% for u in vinterested %} {{u}}, {% endfor %}</td></tr>
</table>

