div#header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
div#header-container {
  height: 194px;
  background: #fff;
}
div#header {
  margin: 0 auto;
  position: relative;
}
div#container {
  margin: 0 auto;
  overflow: auto;
  padding-top: 186px;
}
h1 {
  font-family: 'Michroma', Aria, serif; font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin: 0px;
  padding-top: 32px;
}
.cell {
  width: 14%;
  min-height: 150px;
  float: left;
}
.date {
  background: #5882fa;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.dayOfWeek {
  width: 14%;
  float: left;
  background: #5882fa;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.text {
  border: 1px solid #ccc;
}
.mine {
  border: 1px solid #f00;
}
.highlight {
  background: #ff9;
  cursor: pointer;
}
.clear {
  clear: both;
}
#workout {
  border: 1px solid #ccc;
}
.default {
  background: #f66;
}
#workout_center {
  margin-left: auto;
  margin-right: auto;
  width: 7em;
}
#workout_center span {
  float: left;
  margin: 0 4px;
}
#workout td, #workout th {
  padding: 6px 11px;
  border-bottom: 1px solid #95bce2;
  vertical-align: top;
}
#workout .desc {
  background: #95bce2;
}
#workout th, .userInfo {
  text-align: center;
}
#workoutDetails {
  float: left;
  width: 50%;
}
#workoutMessages {
  float: left;
  width: 50%;
}
.msg {
  margin: 10px;
  padding: 5px 10px;
  background: #dfdfdf;
}
