.topbarText {
  padding: 10px 10px 11px;
}
.cell {
  width: 14%;
  min-height: 150px;
  float: left;
}
.cell.in_past {
  background: #F3F3F3;
}
.date {
  background: #5882fa;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
#calHeader {
  position: fixed;
  width: 100%;
  background-color: #EEEEEE;
  height: 78px;
  z-index: 9999;
}
.dayOfWeek {
  width: 14%;
  float: left;
  background: #5882fa;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
}
.atbottom {
  position: absolute;
  bottom: 0px;
  width: 91%;
}
.daySpacer {
  width: 1%;
  float: left;
}
#calContainer {
  padding-top: 78px;
  padding-bottom: 20px;
}
.text {
  border: 1px solid #ccc;
  padding: 2px 5px;
}
.mine {
  border: 1px solid #f00;
}
.highlight {
  background: #ff9;
  cursor: pointer;
}
.clear {
  clear: both;
}
#workout {
  margin-top: 10px;
}
.default {
  background: #f66;
}
#workout_close {
	-webkit-border-radius: 6px 6px 0px 0px;
       -moz-border-radius: 6px 6px 0px 0px;
            border-radius: 6px 6px 0px 0px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);

}
#workout_center {
  margin-left: auto;
  margin-right: auto;
  width: 7em;
}
#workout_center span {
  float: left;
  margin: 0 4px;
}
#workout_desc {

}
#workout td, #workout th {
  padding: 6px 11px;
  border-bottom: 1px solid #95bce2;
  vertical-align: top;
}
#workout .desc {
  background: #95bce2;
}
#workout th, .userInfo {
  text-align: center;
}
.msg {
  margin: 10px;
  padding: 5px 10px;
  background: #dfdfdf;
}
