{% load url from future %}

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">B.E.A.S.T.</a>
          <ul class="nav">
            <li {% if active == "calendar" %}class="active"{% endif %}><a href="/">Calendar</a></li>
{% if active == "calendar" %}
			<li class="dropdown" data-dropdown="dropdown">
			  <a href="#" class="dropdown-toggle">
				{{ city.name }}
				<b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
				{% for alt_city in cities %}
				<li><a href="#">{{alt_city.name}}</a></li>
				{% endfor %}
			  </ul>
			</li>
{% endif %}
{% if user.is_authenticated %}
			<li {% if active == "account" %}class="active"{% endif %}><a href="/account">Account</a></li>
			<li {% if active == "edit" %}class="active"{% endif %}><a href="/workout/create">Create Workout</a></li>
{% endif %}
            <li {% if active == "faq" %}class="active"{% endif %}><a href="/faq">FAQ</a></li>
          </ul>
{% if user.is_authenticated %}
		  <ul class="nav secondary-nav">
			<li class="topbarText">{{user.email}}</li>
			<li><a href="/account/logout">Log Out</a></li>
		  </ul>
{% else %}
		  <ul class="nav secondary-nav">
			<li><a href="/account/register">Join</a></li>
		  </ul>
          <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="pull-right">
			{% csrf_token %}
            <input class="input-small" type="text" placeholder="Email" name="username">
            <input class="input-small" type="password" placeholder="Password" name="password">
            <button class="btn" type="submit">Sign in</button>
          </form>
{% endif %}
        </div>
      </div>
    </div>

